{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}


{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Liste des utilisateurs</h1>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold text-primary">
                            <th scope="col">Email</th>
                            <th scope="col">Date d'inscription</th>
                            <th scope="col">Vérifié</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in user %}
                        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                            <td>{{ info.email | capitalize }}</td>
                            <td>{{ info.Dateinscription|date("d/m/y")}}</td>
                            <td>{% if "ROLE_ADMIN" in info.roles %}
                                Administrateur
                                {% elseif "ROLE_MODO" in info.roles %}
                                Modérateur
                                {% else %}
                                Utilisateur
                                {% endif %}
                            <td>{% if info.isVerified == true %}
                                Vérifié
                                {% else %}
                                Non Vérifié
                                {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{#|sort((a, b) => b.Dateinscription <=> a.Dateinscription#}
{% endblock %}